.card{
    width: 328px;
    height: 512px;
    border: solid 2px grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-img{
    width: 302px;
    height: 247px;
    align-self: center;
}
.card-container{
    width: 95%;
    text-align: center;
    align-self: center;
}
.card-title{
    font-size: 24px;
    margin-top: 5px;
}
.card-text{
    font-size: 14px;
}
.card-btn{
    width: 296px;
    height: 40px;
    border: none;
    align-self: center;
    background-color: #2C2C2C;
    color: white;
}