<div class="banner-home">
    <div class="home">
        <h1>
            Explorez l'Art du Mouvement avec la Capoeira
        </h1>
        <p>
            Rejoignez notre communauté et découvrez la magie de la danse, de l'acrobatie et de la musique brésilienne
        </p>
        <button class="custom-button">Commencez dès maintenant</button>
    </div>
</div>
<div class="events-home">
    <h2>Nos Évenements à venir</h2>
    <div>
        <!-- Mettre le components cards des events -->
    </div>
</div>
<div class="section-home-all">
    <div class="section-home-container">
        <div class="section-home">
            <h3>La Capoeira, Un Art Entre Tradition et Passion</h3>
            <p>La Capoeira, née au Brésil, est bien plus qu'un art martial. C'est une célébration de la liberté, de la musique et du mouvement. À la croisée des chemins entre danse, lutte et culture, elle incarne l’esprit de communauté et de partage qui unit les capoeiristas autour du monde.
                Notre communauté est unie par la passion du rythme, des acrobaties et du respect des traditions. Que vous soyez débutant ou pratiquant expérimenté, rejoignez-nous pour explorer cette pratique qui allie agilité, force et créativité.
            </p>
            <button class="custom-button">
                Prêt à bouger avec nous ?
            </button>
        </div>
        <div class="section-home-img">
            <img src="./img/Capoeira Image Nov 15 2024 1.png" alt="" class="img-section">
        </div>
    </div>

    <div class="section-home-container-bot">
        <div class="section-home-bot">
            <h3>Une Communauté Qui Vous Accueille</h3>
            <p>
                La Capoeira est plus qu’un sport, c’est une famille. Partager une roda, apprendre à jouer du berimbau, chanter ensemble, et s’encourager, tout cela contribue à créer des liens forts entre les capoeiristas.
                Peu importe votre niveau ou votre âge, notre communauté est ouverte à tous. Chaque mouvement est une célébration de la culture brésilienne et une occasion de se surpasser, de se connecter avec les autres et de trouver la liberté d’expression à travers le rythme et le mouvement.
            </p>
            <button class="custom-button">
                Prêt à bouger avec nous ?
            </button>
        </div>
        <div class="section-home-img">
            <img src="./img/Capoeiraenrance1.png" alt="" class="img-section">
        </div>
    </div>
</div>

