<main class="profil-page">
  <section class="profil-bio">
    <div class="bio-image">
      <img
        class="bio-img"
        src="../img/DALL E Nov 15 2024 2.png"
        alt="photo de profil"
      />
      <p>Prénom Nom</p>
    </div>
    <div class="bio-container">
      <h2 class="profil-title">Votre Bio :</h2>
      <p class="bio-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ea
        eveniet itaque voluptatum hic distinctio voluptatem cupiditate sapiente
        praesentium sed amet assumenda, atque obcaecati recusandae quam, enim
        excepturi, ipsa necessitatibus.
      </p>
    </div>
  </section>
  <section class="profil-infos">
    <h2 class="profil-title">Vos informations personnelles :</h2>
    <div class="infos-container">
      <span class="green"><p>Nom</p></span>
      <span class="green"><p>Prénom</p></span>
      <span class="green"><p>Date de naissance</p></span>
      <span class="green"><p>Ville</p></span>
      <span class="green"><p>Niveau de pratique</p></span>
      <button class="infos-btn">Modifier</button>
    </div>
  </section>
  <section class="profil-stats">
    <h2 class="profil-title">Vos Statistiques :</h2>
    <p class="stats-time">Vous pratiquez depuis 5 ans</p>
    <h3 class="stats-event">
      Les derniers évènements auxquels vous avez participé :
    </h3>
    <div class="stats-event-container"></div>
  </section>
</main>
