header {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row: 1;
}

.title {
  display: flex;
  justify-content: start;
  align-items: center;
}

h1 {
  font-size: 100%;
}

nav {
  margin: auto auto auto 10%;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 20%;
}
