header {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row: 1;
  background-color: #ffcc00;
}

a {
  text-decoration: none;
  color: #00994d;
}

.title {
  display: flex;
  justify-content: start;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: #00994d;
}

nav {
  margin: auto auto auto 10%;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 20%;
}
