<footer>
    <div class="col1">
        <h1>Liens utiles</h1>
        <ul>
            <li>Accueil</li>
            <li>À propos de la fédération</li>
            <li>Événements et stages</li>
            <li>Club affilié</li>
            <li>Contact</li>
            <li>Mentions légales</li>
            <li>Politique de confidentialité</li>
        </ul>
    </div>
    <div class="col2">
        <h1>Coordonnées</h1>
        <p>7 RUE DE LA CAPOEIRA</p>
        <h1>Horaires</h1>
        <p>Du lundi au vendredi de 9 h à 18 h</p>
    </div>
    <div class="col3">
        <img src="/capoeira/src/assets/images/logo-footer.png" alt="Image du footer">
    </div>
    <div class="col4">
        <h1>Suivez-nous</h1>
    </div>
        
</footer>
